*.iml
.gradle
/local.properties
/app/src/main/bot-data.json
/app/src/main/assets
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules.xml
*~